<ITEM
    IGUID {{ self.uuid_string() }}
    POSITION {{ self.timeline_start() }}
    LENGTH {{ self.timeline_length() }}
    LOOP 1
    <SOURCE SECTION
        STARTPOS {{ self.media_start() }}
        LENGTH {{ self.media_length() }}
        OVERLAP 0.010
        {%- if self.media_source_location_exists() %}
        <SOURCE {{ self.media_source_type() }}
            FILE {{ self.media_source_location() }}
        >
        {%- endif %}
    >
>